@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.christmas-glow {
  box-shadow: inset 0 0 100px rgba(220, 38, 38, 0.2); /* Deep Red Glow */
  border: 8px solid transparent;
  border-image: radial-gradient(circle, #065f46 0%, #022c22 100%) 1; /* Emerald Border */
}